<div>
    <section class="content-header">
        <h1>
            Pesquisar Conferência
        </h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Conferência</li>
            </ol>
          </nav>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-12">
                    <div class="card card-primary">
                        <div class="card-footer">
                            
                            <a [routerLink]="['/conferences/create']" class="btn btn-primary m-t-23">
                                <span class="fas fa-plus nav-icon"></span>
                                <span class="hidden-xs"> Novo</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="row" *ngIf="conferences?.length > 0">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Conferências encontradas</h3>
                                    </div>
                                    <div class="card-body table-responsive p-0">
                                      <table class="table table-hover table-to-mobile">
                                        <thead>
                                          <tr>
                                            <th>ID</th>
                                            <th>Nome</th>
                                            <th>Ramal/SIP</th>
                                            <th>Ações</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr *ngFor="let item of conferences">
                                            <td>{{ item.conferences_id }}</td>
                                            <td><span class="text-green">{{ item.name }}</span></td>
                                            <td><span class="text-info">{{ item.extension }}</span></td>
                                            <td>
                                                <a [routerLink]="['/conferences', item.id]"><i class="fas fa-eye"></i></a>
                                                <i></i>
                                                <i></i>
                                            </td>
                                          </tr>
                                        </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" *ngIf="conferences?.length == 0">
                            <div class="col-sm-12">
                                <p class="text-center">
                                    Nenhuma Conferência encontrada.
                                    <br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


