<div>
    <section class="content-header">
        <h1>
            Troca de senha
        </h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
              <li class="breadcrumb-item"><a routerLink="/accounts">Funcionário</a></li>
            </ol>
          </nav>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <form #f="ngForm" (ngSubmit)="save()">
                            <div class="card-body">
                                <div class="form-row form-group">
                                    <div class="col-6">
                                        <label>Senha atual</label>
                                        <input type="password" class="form-control" placeholder="Senha atual" [(ngModel)]="account.password" required name="password">
                                    </div>
                                </div>
                                <div class="form-row form-group">
                                    <div class="col">
                                        <label>Nova senha</label>
                                        <input type="password" class="form-control" placeholder="Nova senha" [(ngModel)]="account.new_password" required name="new_password">
                                    </div>
                                    <div class="col">
                                        <label>Confirmar senha</label>
                                        <input type="password" class="form-control" placeholder="Confirmação de senha" [(ngModel)]="account.confirm_password" name="confirm_password">
                                    </div>
                                </div>
                            </div>
            
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Salvar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>
