<div>
    <section class="content-header">
        <h1>
            Nova Função
        </h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
              <li class="breadcrumb-item"><a routerLink="/role">Função</a></li>
              <li class="breadcrumb-item active" aria-current="page">Novo</li>
            </ol>
          </nav>
    </section>
    <section class="content">
        <div class="container-fluid">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Função</a>
                </div>
              </nav>
              <form #f="ngForm" (ngSubmit)="save()">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card card-primary">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col">
                                                <label>Empresa: </label>
                                                <input type="search"  class="form-control" [(ngModel)]="role.company" width="100px" required name="company" />
                                            </div>
                                            <div class="col">
                                                <label>Funcionário: </label>
                                                <input type="search"  class="form-control" [(ngModel)]="role.employee" width="100px" required name="employee" />
                                            </div>
                                            <!-- <div class="col">
                                                <label>Canal: </label>
                                                <input type="search"  class="form-control" [(ngModel)]="trunk.channel_name" width="100px" required name="channel_name" />
                                            </div> -->
                                        </div>                 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary m-r-15">Salvar</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>
