<div *ngIf="is_load">
    <section class="content-header">
        <h1>
            Módulos
        </h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
              <li class="breadcrumb-item"><a routerLink="/modules">Módulos</a></li>
              <li class="breadcrumb-item active" aria-current="page">Novo</li>
            </ol>
          </nav>
    </section>
    <section class="content">
        <div class="container-fluid">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Módulos</a>
                </div>
              </nav>
              <form #f="ngForm" (ngSubmit)="save()">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card card-primary">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col">
                                                <label>Nome: </label>
                                                <input type="search"  class="form-control" [(ngModel)]="modules.name" width="100px" required name="name" />
                                            </div>
                                            <div class="col">
                                                <label>Versão: </label>
                                                <input type="search"  class="form-control" [(ngModel)]="modules.version" width="100px" required name="version" />
                                            </div>
                                            <div class="col">
                                                <label>Id do Módulo: </label>
                                                <input type="search"  class="form-control" [(ngModel)]="modules.modules_id" width="100px" required name="modulesid" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary m-r-15">Salvar</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>
